<span class="wine-stain top"></span>
<span class="wine-stain left"></span>

<div class="account-main-wrap">
  <h1 class="page-title">Account overview</h1>

  {% include 'account-nav' %}

  <div class="account-overview clearfix">

    <div class="half-wrap">
      <h2>Default delivery address</h2>
      {% if customer.default_address %}
        {% assign address = customer.default_address %}
        <div class="customer-address-wrap">
          <div class="customer-address" data-address-id="{{ address.id }}">
            <p>
              <span>{{ address.first_name }} {{ address.last_name }}</span><br>
              {% if address.company.size > 0 %}
                <span>{{ address.company }}</span><br>
              {% endif %}
              {% if address.street.size > 0 %}
                <span>{{ address.street }}</span><br>
              {% endif %}
              {% if address.city.size > 0 or address.province_code.size > 0 %}
                <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span><br>
              {% endif %}
              {% if address.country.size > 0 or address.zip.size > 0 %}
                <span>{{ address.country }} {{ address.zip }}</span><br>
              {% endif %}
              {% if address.phone.size > 0 %}
                <span>{{ address.phone }}</span><br>
              {% endif %}
            </p>
            <p><span class="edit-address">Edit address</span> <span class="delete-address">Delete address</span></p>
          </div>

          <div id="edit-{{ address.id }}" class="customer-address-edit-form" data-address-id="{{ address.id }}">
            {% form 'customer_address', address %}
              <h2>Edit address</h2>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" name="address[first_name]" value="{{form.first_name}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" name="address[last_name]" value="{{form.last_name}}">
              </div>
              <span class="clear"></span>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.company' | t }}</label>
                <input type="text" name="address[company]" value="{{form.company}}">
              </div>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" name="address[address1]" value="{{form.address1}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" name="address[address2]" value="{{form.address2}}">
              </div>
              <span class="clear"></span>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.city' | t }}</label>
                <input type="text" name="address[city]" value="{{form.city}}">
              </div>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.country' | t }}</label>
                <div class="select-wrapper">
                  <div class="selected-text"></div>
                  <select id="address-country-{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                </div>
              </div>
              <div class="input-wrapper" id="address-province-container-{{ address.id }}" style="display:none">
                <label>{{ 'customer.addresses.province' | t }}</label>
                <div class="select-wrapper">
                  <div class="selected-text"></div>
                  <select id="address-province-{{ address.id }}" name="address[province]" data-default="{{form.province}}"></select>
                </div>
              </div>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" name="address[zip]" value="{{form.zip}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.phone' | t }}</label>
                <input type="text" name="address[phone]" value="{{form.phone}}">
              </div>
              <span class="clear"></span>
              <div class="inline-input-wrapper">
                {{ form.set_as_default_checkbox }} <label>Set us default address</label>
              </div>
              <div class="input-wrapper">
                <input type="submit" id="submit-{{form.id}}" class="button" value="Save address">
              </div>
            {% endform %}
          </div>
        </div>
      {% endif %}
      
      <span class="button toggle-new-address add-new-address">Add new address</span>

      <div id="new-address" class="customer-new-address">
        {% form 'customer_address', customer.new_address %}
           <h2>Add a new address</h2>
          <div class="input-wrapper half">
            <label>{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" name="address[first_name]" value="{{form.first_name}}">
          </div>
          <div class="input-wrapper half last">
            <label>{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" name="address[last_name]" value="{{form.last_name}}">
          </div>
          <span class="clear"></span>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.company' | t }}</label>
            <input type="text" name="address[company]" value="{{form.company}}">
          </div>
          <div class="input-wrapper half">
            <label>{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" name="address[address1]" value="{{form.address1}}">
          </div>
          <div class="input-wrapper half last">
            <label>{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" name="address[address2]" value="{{form.address2}}">
          </div>
          <span class="clear"></span>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.city' | t }}</label>
            <input type="text" name="address[city]" value="{{form.city}}">
          </div>
          <div class="input-wrapper">
            <label>{{ 'customer.addresses.country' | t }}</label>
            <div class="select-wrapper">
              <div class="selected-text"></div>
              <select id="address-country" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </div>
          </div>
          <div class="input-wrapper" id="address-province-container" style="display:none">
            <label>{{ 'customer.addresses.province' | t }}</label>
            <div class="select-wrapper">
              <div class="selected-text"></div>
              <select id="address-province" class="new-address-province" name="address[province]" data-default="{{form.province}}"></select>
            </div>
          </div>
          <div class="input-wrapper half">
            <label>{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" name="address[zip]" value="{{form.zip}}">
          </div>
          <div class="input-wrapper half last">
            <label>{{ 'customer.addresses.phone' | t }}</label>
            <input type="text" name="address[phone]" value="{{form.phone}}">
          </div>
          <span class="clear"></span>
          <div class="inline-input-wrapper">
            {{ form.set_as_default_checkbox }} <label>Set us default address</label>
          </div>
          <div class="input-wrapper">
            <input type="submit" id="submit-{{form.id}}" class="button" value="Save address">
          </div>
        {% endform %}
      </div>
    </div>
    
    <div class="half-wrap last">
      <h2>Saved addresses</h2>
      {% for address in customer.addresses %}
        {% unless address == customer.default_address %}
        <div class="customer-address-wrap">
          <div class="customer-address" data-address-id="{{ address.id }}">
            <p>
              <span>{{ address.first_name }} {{ address.last_name }}</span><br>
              {% if address.company.size > 0 %}
                <span>{{ address.company }}</span><br>
              {% endif %}
              {% if address.street.size > 0 %}
                <span>{{ address.street }}</span><br>
              {% endif %}
              {% if address.city.size > 0 or address.province_code.size > 0 %}
                <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span><br>
              {% endif %}
              {% if address.country.size > 0 or address.zip.size > 0 %}
                <span>{{ address.country }} {{ address.zip }}</span><br>
              {% endif %}
              {% if address.phone.size > 0 %}
                <span>{{ address.phone }}</span><br>
              {% endif %}
            </p>
            {% if address == customer.default_address %}<p class="meta">{{ 'customer.addresses.default_address' | t }}</p>{% endif %}
            <p><span class="edit-address">Edit address</span> <span class="delete-address">Delete address</span></p>
          </div>

          <div id="edit-{{ address.id }}" class="customer-address-edit-form" data-address-id="{{ address.id }}">
            {% form 'customer_address', address %}
              <h2>Edit address</h2>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" name="address[first_name]" value="{{form.first_name}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" name="address[last_name]" value="{{form.last_name}}">
              </div>
              <span class="clear"></span>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.company' | t }}</label>
                <input type="text" name="address[company]" value="{{form.company}}">
              </div>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" name="address[address1]" value="{{form.address1}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" name="address[address2]" value="{{form.address2}}">
              </div>
              <span class="clear"></span>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.city' | t }}</label>
                <input type="text" name="address[city]" value="{{form.city}}">
              </div>
              <div class="input-wrapper">
                <label>{{ 'customer.addresses.country' | t }}</label>
                <div class="select-wrapper">
                  <div class="selected-text"></div>
                  <select id="address-country-{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                </div>
              </div>
              <div class="input-wrapper" id="address-province-container-{{ address.id }}" style="display:none">
                <label>{{ 'customer.addresses.province' | t }}</label>
                <div class="select-wrapper">
                  <div class="selected-text"></div>
                  <select id="address-province-{{ address.id }}" name="address[province]" data-default="{{form.province}}"></select>
                </div>
              </div>
              <div class="input-wrapper half">
                <label>{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" name="address[zip]" value="{{form.zip}}">
              </div>
              <div class="input-wrapper half last">
                <label>{{ 'customer.addresses.phone' | t }}</label>
                <input type="text" name="address[phone]" value="{{form.phone}}">
              </div>
              <span class="clear"></span>
              <div class="inline-input-wrapper">
                {{ form.set_as_default_checkbox }} <label>Set us default address</label>
              </div>
              <div class="input-wrapper">
                <input type="submit" id="submit-{{form.id}}" class="button" value="Save address">
              </div>
            {% endform %}
          </div>
        </div>
      {% endunless %}
    {% endfor %}
    </div>
  </div>
</div>